@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-center, .pie-pagina .item-redes, .pie-pagina, .busqueda .texbuscaqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-horizontal, .navbarheader .items-car {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t-texto-sm, .pie-pagina, .navbarheader .items-car {
  font-size: 15px;
  padding: 20px;
}

.t-texto {
  font-size: 12px;
  padding: 20px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor-cars {
  display: grid;
  border: 1px solid black;
  grid-template-rows: auto 1fr 7fr;
  grid-template-areas: "menu" "busqueda" "seccion-principal" "pie-de-pagina";
}
@media (min-width: 768px) and (max-width: 991px) {
  .contenedor-cars {
    min-height: 95vh;
    grid-template-areas: "menu busqueda" "menu seccion-principal" "pie-de-pagina seccion-principal";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 10rem 2fr;
  }
}
@media (min-width: 992px) {
  .contenedor-cars {
    min-height: 100vh;
    grid-template-areas: "menu menu " "busqueda seccion-principal" "pie-de-pagina pie-de-pagina";
    grid-template-rows: auto 10fr auto;
    grid-template-columns: 12rem 1fr;
  }
}

.navbarheader {
  padding: 10px;
  grid-area: menu;
  color: white;
  background: #0037a1;
}
.navbarheader .items-nav {
  display: none;
}
.navbarheader .items-nav-vertical {
  display: none;
}
.navbarheader .items-nav-horizontal {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbarheader .items-car {
    font-size: 12px;
    padding: 20px;
  }
  .navbarheader .items-car .fa-bars {
    display: none;
  }
  .navbarheader .items-nav-vertical {
    font-size: 12px;
    display: block;
    height: 20%;
    padding: 20px;
    list-style: none;
  }
  .navbarheader .items-nav-vertical li p {
    margin-bottom: 10px;
    font-size: 15;
  }
  .navbarheader .items-nav-vertical li p .color-tex {
    color: #817c7c;
  }
}
@media (min-width: 992px) {
  .navbarheader {
    overflow: hidden;
  }
  .navbarheader .items-nav-vertical {
    display: none;
  }
  .navbarheader .items-car {
    font-size: 15px;
    padding: 5px;
  }
  .navbarheader .items-car .fa-bars {
    display: none;
  }
  .navbarheader .items-nav-horizontal {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 14px 16px;
  }
}

.busqueda {
  padding: 10px;
  grid-area: busqueda;
  background-color: #babcbe;
  height: -moz-min-content;
  height: min-content;
}
.busqueda .search-input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  margin-right: -5px;
}
.busqueda .search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #0037a1;
  color: white;
  cursor: pointer;
}
.busqueda #search-form {
  padding-top: -5px;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .busqueda {
    height: 100%;
  }
  .busqueda .search-input {
    width: 95%;
    padding: 10px;
    font-size: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
  }
  .busqueda .search-button {
    padding: 10px 20px;
    font-size: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #0037a1;
    color: white;
    cursor: pointer;
  }
}

.main-content {
  grid-area: seccion-principal;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.main-content .contener-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.main-content .contener-cards .contenedor-img {
  border: 1px solid rgb(231, 216, 216);
  border-radius: 3px;
}
.main-content .contener-cards .contenedor-img .card_body {
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.main-content .contener-cards .contenedor-img .card_body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
.main-content .contener-cards .contenedor-img .card_body:hover {
  background-color: rgb(240, 235, 232);
}
.main-content .contener-cards .contenedor-img .card_body:hover img {
  transform: translateX(60%);
  opacity: 0.1;
}
.main-content .contener-cards .contenedor-img .card-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 10px;
}
.main-content .contener-cards .contenedor-img .card-texto .card_boton {
  height: 30px;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #0037a1;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-content .contener-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
}
@media (min-width: 992px) {
  .main-content .contener-cards {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 20px;
  height: 20px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
.pagination .page-link {
  height: 20px;
  padding: 8px 16px;
  margin: 2px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.pagination .page-link:hover {
  background-color: #f2f2f2;
}

.pie-pagina {
  padding: 5px;
  grid-area: pie-de-pagina;
  background: #133270;
  color: white;
  text-align: center;
}
.pie-pagina .item-redes {
  gap: 5px;
}/*# sourceMappingURL=style.css.map */